In [ ]:
#!pip install  google-cloud-bigquery -- instalação feita pelo pandas em bloco
#pip install  google-cloud-bigquery -- Instalação feita pelo terminal
#pip install --upgrade google-cloud-bigquery
#pip install  pandas_gbq
#pip install  pandas

In [2]:
from google.cloud import bigquery
import pandas as pd

# Especifique o caminho para o arquivo JSON de credenciais
credencial = r"C:\Users\silvio\Downloads\pythoncurso-460114-bf3f997f8722.json"

# Crie um cliente BigQuery usando as credenciais
client = bigquery.Client.from_service_account_json(credencial)

# Construa sua consulta
query = """ 

  SELECT 
  id
  ,first_name
  ,last_name
  ,email  
 FROM `pythoncurso-460114.AulaPython.Clientes` 
 where state in ('Piauí','Alagoas','Amazonas')

"""
# Execute a consulta
resultado = client.query(query)

"""
for row in resultado:
    print(row)
"""

# Converta os resultados em um DataFrame
df = resultado.to_dataframe()

c:\Users\silvio\Documents\Curso BD\Udemy\Python - SGBDS\sgbds\Lib\site-packages\google\cloud\bigquery\table.py:1962: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [3]:
df.head(5)

   id first_name  last_name                email
0  18       Jair  Magalhães     jair@exemplo.com
1  80    Daniela       Góes  daniela@usuario.com
2  83      Frida     Freire                 None
3  23      Maria      Pires                 None
4  69    Gustavo    Cardoso    gustavo@teste.com

In [ ]:
df.columns

<bound method NDFrame.where of    id first_name  last_name                    email
0  18       Jair  Magalhães         jair@exemplo.com
1  80    Daniela       Góes      daniela@usuario.com
2  83      Frida     Freire                     None
3  23      Maria      Pires                     None
4  69    Gustavo    Cardoso        gustavo@teste.com
5  19     Caíque   Monteiro       caíque@exemplo.com
6  56  Cristiano   Fagundes    cristiano@usuario.com
7  94  Cristiano    Pereira  cristiano@meu_email.com>