#### Trabalhando com Datas e mantendo histórico

In [1]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
from pandas_gbq import to_gbq
from datetime import datetime

In [2]:
df = pd.read_excel(r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\07.+Google+BigQuery\07. Google BigQuery\Arquivos\Origem\arquivos_excel\Produto.xlsx")
df.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [3]:
df['DataHoraCarga'] = datetime.now()

In [4]:
df.head(5)

   ID                  Name  Price  Id_Category              DataHoraCarga
0   0       Sapato vermelho     96            0 2025-05-22 17:23:55.524070
1   1  Bolsa mais que Velha   8000            0 2025-05-22 17:23:55.524070
2   2                 Calça     75            0 2025-05-22 17:23:55.524070
3   3    Camisa apertadinha    170            0 2025-05-22 17:23:55.524070
4   4   Vestido Super curto     57            0 2025-05-22 17:23:55.524070

In [5]:
df['DataHoraCarga'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')  # prescisa desta conversao para o bigquery aceitar

In [6]:
df.head(5)

   ID                  Name  Price  Id_Category        DataHoraCarga
0   0       Sapato vermelho     96            0  2025-05-22 17:24:02
1   1  Bolsa mais que Velha   8000            0  2025-05-22 17:24:02
2   2                 Calça     75            0  2025-05-22 17:24:02
3   3    Camisa apertadinha    170            0  2025-05-22 17:24:02
4   4   Vestido Super curto     57            0  2025-05-22 17:24:02

In [7]:
df['DataCarga'] = datetime.now().date()

In [8]:
df.head(5)

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga
0,0,Sapato vermelho,96,0,2025-05-22 17:24:02,2025-05-22
1,1,Bolsa mais que Velha,8000,0,2025-05-22 17:24:02,2025-05-22
2,2,Calça,75,0,2025-05-22 17:24:02,2025-05-22
3,3,Camisa apertadinha,170,0,2025-05-22 17:24:02,2025-05-22
4,4,Vestido Super curto,57,0,2025-05-22 17:24:02,2025-05-22

In [9]:
df['DataCargaPTBR'] = datetime.now().strftime('%d/%m/%Y')

In [10]:
df.head(5)

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga,DataCargaPTBR
0,0,Sapato vermelho,96,0,2025-05-22 17:24:02,2025-05-22,22/05/2025
1,1,Bolsa mais que Velha,8000,0,2025-05-22 17:24:02,2025-05-22,22/05/2025
2,2,Calça,75,0,2025-05-22 17:24:02,2025-05-22,22/05/2025
3,3,Camisa apertadinha,170,0,2025-05-22 17:24:02,2025-05-22,22/05/2025
4,4,Vestido Super curto,57,0,2025-05-22 17:24:02,2025-05-22,22/05/2025

In [11]:
df['HoraCarga'] = datetime.now().strftime('%H:%M:%S')

In [12]:
df.head(5)

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga,DataCargaPTBR,HoraCarga
0,0,Sapato vermelho,96,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
1,1,Bolsa mais que Velha,8000,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
2,2,Calça,75,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
3,3,Camisa apertadinha,170,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
4,4,Vestido Super curto,57,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28

In [13]:
df.dtypes

ID                int64
Name             object
Price             int64
Id_Category       int64
DataHoraCarga    object
DataCarga        object
DataCargaPTBR    object
HoraCarga        object
dtype: object

##### https://docs.python.org/pt-br/3/library/datetime.html

In [14]:
#converter para BQ Aceitar
df['DataHoraCarga'] = pd.to_datetime(df['DataHoraCarga'])
df['DataCarga'] = pd.to_datetime(df['DataCarga'])

In [15]:
df.dtypes

ID                        int64
Name                     object
Price                     int64
Id_Category               int64
DataHoraCarga    datetime64[ns]
DataCarga        datetime64[ns]
DataCargaPTBR            object
HoraCarga                object
dtype: object

In [16]:
df.head(5)

,ID,Name,Price,Id_Category,DataHoraCarga,DataCarga,DataCargaPTBR,HoraCarga
0,0,Sapato vermelho,96,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
1,1,Bolsa mais que Velha,8000,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
2,2,Calça,75,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
3,3,Camisa apertadinha,170,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28
4,4,Vestido Super curto,57,0,2025-05-22 17:24:02,2025-05-22,22/05/2025,17:30:28

In [17]:
# credenciais para validar importar dados para o google bigquery
credencial = r"C:\Users\silvio\Downloads\pythoncurso-460114-bf3f997f8722.json"
CredImportacao = service_account.Credentials.from_service_account_file(
    credencial,
    scopes=['https://www.googleapis.com/auth/bigquery']
)

# variaveis do projeto 
projeto = 'pythoncurso-460114'
dataset = 'AulaPython'
tabela = 'ProdutoHistorico'
parameretro ='append'      
#replace = subistuir a antiga pela original 
#append = adiciona dados no fim da tabela

In [ ]:
#df['Price'] = df['Price'].astype(int)
#df['Id_Category'] = df['Id_Category'].astype(int)

In [18]:
df.dtypes

ID                        int64
Name                     object
Price                     int64
Id_Category               int64
DataHoraCarga    datetime64[ns]
DataCarga        datetime64[ns]
DataCargaPTBR            object
HoraCarga                object
dtype: object

In [19]:
schema = [
    {'name': 'DataHoraCarga', 'type': 'TIMESTAMP'},# Use 'TIMESTAMP' para datetime64[ns] (pode ser tambem da certo)
    {'name': 'Price', 'type': 'INTEGER'},
    {'name': 'Id_Category', 'type': 'INTEGER'},
    {'name': 'DataCarga', 'type': 'DATE'} #SOMENTE DATA
]

In [20]:
# Use o método to_gbq para enviar o DataFrame para o BigQuery
df.to_gbq(destination_table=f'{projeto}.{dataset}.{tabela}',
          project_id=projeto,
          if_exists=parameretro,
          credentials=CredImportacao,
          table_schema=schema)

C:\Users\silvio\AppData\Local\Temp\ipykernel_7304\3785485326.py:2: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df.to_gbq(destination_table=f'{projeto}.{dataset}.{tabela}',

In [21]:
"""

SELECT * FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`
where HoraCarga = 
  (SELECT max(HoraCarga)FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`)

"""

'\n\nSELECT * FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`\nwhere HoraCarga = \n  (SELECT max(HoraCarga)FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`)\n\n'