In [4]:
#Selecionando Colunas 
from pymongo import MongoClient
import pandas   as pd 
pd.set_option('display.max_columns', None)   # Mostrar todas as colunas

client = MongoClient('mongodb+srv://user-silvio:1989@cluster-aula.glssz5i.mongodb.net/')
db = client['Aula']
colletion= db.get_collection('anac')

# 'coluna':0 tirar a coluna do resultado ,'coluna':1 = escolher colunas para aparecer no resultado
# Obs: misturar 0 e 1  tem que esolher somente uma opção  

filter={'UF': 'MG'}
#columns = {'Numero_da_Ocorrencia':0,'Numero_da_Ficha':0,'Operador_Padronizado':0}  # metodos exclusivos
columns = { 'Numero_da_Ocorrencia':1,'Numero_da_Ficha':1,'Classificacao_da_Ocorrência':1,'Classificacao_da_Ocorrência':1,'Data_da_Ocorrencia':1,'UF':1,'Regiao':1}   # metodos inclusivo
#columns ={} #todas colunas 

data = list(colletion.find(filter,columns))
df = pd.DataFrame(data)
df.head(3)

,_id,Numero_da_Ocorrencia,Numero_da_Ficha,Classificacao_da_Ocorrência,Data_da_Ocorrencia,UF,Regiao
0,68361c9965b7b847299d068b,7759,201803161337187,Acidente,2018-03-14,MG,Sudeste
1,68361c9965b7b847299d0699,7526,201709211148001,Incidente,2017-09-20,MG,Sudeste
2,68361c9965b7b847299d06a2,7516,201709121317043,Acidente,2017-09-02,MG,Sudeste

In [2]:
df.shape[0]

1041