Documentação Python 
https://docs.python.org/pt-br/3/library/sqlite3.html

Conexão Básica - DB na mesma pasta do projeto

In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [ ]:
import sqlite3
con = sqlite3.connect("tutorial.db")

cursor = con.cursor()
cursor.execute( "CREATE TABLE produto (Id,Nome,valor)"   ) # Criar tabela 
cursor.execute ("insert into  produto (Id,Nome,valor) values(1,'Controle',79.99) ")

con.commit()
con.close()

In [9]:
# Ver dados em DF
import sqlite3
import pandas as pd

con = sqlite3.connect("tutorial.db")
query = """  select * from produto     """

df = pd.read_sql(query,con) #df = DataFrame
con.close()
df.head()

   Id      Nome   valor
0   3    Camisa  102.50
1   2    Penala  100.00
2   1  Controle   79.99

Conexão Básica - DB Outra pasta

In [12]:
import sqlite3
con = sqlite3.connect(r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\03.+SQLite\03. SQLite\Banco de Dados\Teste.db")

cursor = con.cursor()
cursor.execute( "CREATE TABLE produto2 (Id,Nome,valor)"   ) # Criar tabela 
cursor.execute ("insert into  produto2 (Id,Nome,valor) values(3,'Camisa',102.50) ")

con.commit()
con.close()

In [14]:
# Ver dados em DF pasta externa
import sqlite3
import pandas as pd

caminho_db = r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\03.+SQLite\03. SQLite\Banco de Dados\Teste.db"
con2 = sqlite3.connect(caminho_db)
query2 = """  select * from produto2     """

df2 = pd.read_sql(query2,con2)
con2.close()
df2.head()

   Id    Nome  valor
0   3  Camisa  102.5