In [1]:

import pandas as pd
import pyodbc 

server = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando o

In [2]:
dados = pd.read_excel(r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\05.+SQL+Server\05. SQL Server\Origem\Origem\arquivos_excel\Produto.xlsx")
#display(dados)
dados.head(5)
#display(dados)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [3]:
cursor.execute('truncate table [Produtos]')   #executa tarefa de  apagar dados
cursor.commit()

In [ ]:
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Produtos](ID,Name,Price,Id_Category)values(?,?,?,?)",linha.ID,linha.Name,linha.Price,linha.Id_Category) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao