In [5]:
"""
Create table Categoria(
Id int,
Categoria nvarchar(255)
)

"""

'\nCreate table Categoria(\nId int,\nCategoria nvarchar(255)\n)\n\n'

In [6]:

#!pip install pyodbc 

import pandas as pd
import pyodbc 

server = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [7]:
dados = pd.read_excel(r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\05.+SQL+Server\05. SQL Server\Origem\Origem\arquivos_excel\Categoria.xlsx")
str(dados.columns).replace("'","")

'Index([Id, Categoria], dtype=object)'

In [8]:
cursor.execute('truncate table [Categoria]')   #executa tarefa de  apagar dados
cursor.commit()

In [9]:
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Categoria](Id,Categoria)values(?,?)",linha.Id,linha.Categoria) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao