In [38]:
"""
Create table Items(
id				int,
order_id       int,
product_id   int,
quantity        int,
total_price         money
)

"""

'\nCreate table Items(\nid\t\t\t\tint,\norder_id       int,\nproduct_id   int,\nquantity        int,\ntotal_price         money\n)\n\n'

In [1]:

#!pip install pyodbc 

import pandas as pd
import pyodbc 

server = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [2]:
dados = pd.read_excel(r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\05.+SQL+Server\05. SQL Server\Origem\Origem\arquivos_excel\items.xlsx")
str(dados.columns).replace("'","") 
dados.head(5)

   id  order_id  product_id  quantity  total_price
0   0      7019          28         1          186
1   1      8827          29         1          110
2   2      3863          38         1          385
3   3      5002          37         1          493
4   4      6337          28         1          186

In [3]:
cursor.execute('delete from [Items]')   #executa tarefa de  apagar dados
cursor.commit()

In [42]:
#str(dados.columns).replace("'","")  # coluna de origem

'Index([id, order_id, product_id, quantity, total_price], dtype=object)'

In [43]:
#str(dados.columns).replace("'","")  # coluna de origem

In [44]:
#dados.head(5)

In [45]:

#print(dados['total_price'].dtype)

In [4]:
dados['total_price'] = dados['total_price'].astype(float)

In [5]:
#inserção no banco de dados 
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Items](id,order_id,product_id,quantity,total_price)values(?,?,?,?,?)",linha.id,linha.order_id,linha.product_id,linha.quantity,linha.total_price) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao