In [15]:
"""
Create table Ordens(
id				int,
created_at       datetime,
customer_id   int,
status        nvarchar(255)
)

"""

'\nCreate table Ordens(\nid\t\t\t\tint,\ncreated_at       datetime,\ncustomer_id   int,\nstatus        nvarchar(255)\n)\n\n'

In [1]:


#!pip install pyodbc 

import pandas as pd
import pyodbc 

server = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [2]:
dados = pd.read_excel(r"C:\Users\silvio\Documents\Curso BD\Udemy\Arquivos\05.+SQL+Server\05. SQL Server\Origem\Origem\arquivos_excel\Ordens.xlsx")
str(dados.columns).replace("'","") 
dados.head(5)

   id          created_at  customer_id              status
0   0 2019-08-28 03:36:31           91            entregue
1   1 2019-08-16 20:21:30            7            entregue
2   2 2019-07-11 11:00:06           26  pagamento_pendente
3   3 2019-08-27 21:04:41           92  pagamento_pendente
4   4 2019-11-03 19:58:37           63    entrega_pendente

In [3]:
cursor.execute('truncate table  [Ordens]')   #executa tarefa de  apagar dados
cursor.commit()

In [4]:
str(dados.columns).replace("'","")  # coluna de origem

'Index([id, created_at, customer_id, status], dtype=object)'

In [20]:

#print(dados['total_price'].dtype)
#dados['total_price'] = dados['total_price'].astype(float)

In [5]:
#inserção no banco de dados 
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Ordens](id,created_at,customer_id,status)values(?,?,?,?)",linha.id,linha.created_at,linha.customer_id,linha.status) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao