In [1]:

import pandas as pd
import pyodbc 

server = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando '

In [6]:
Categoria= pd.read_sql('select * from Items',conexaoDB)
Categoria.head()

C:\Users\silvio\AppData\Local\Temp\ipykernel_10056\157596820.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Categoria= pd.read_sql('select * from Items',conexaoDB)

   id  order_id  product_id  quantity  total_price
0   0      7019          28         1        186.0
1   1      8827          29         1        110.0
2   2      3863          38         1        385.0
3   3      5002          37         1        493.0
4   4      6337          28         1        186.0

In [3]:
Query='select * from categoria'
Categoria2=pd.read_sql(Query,conexaoDB)
Categoria2.head()

C:\Users\silvio\AppData\Local\Temp\ipykernel_10056\188542646.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Categoria2=pd.read_sql(Query,conexaoDB)

   Id                Categoria
0   0        Moda e Acessórios
1   1  Cosméticos e Perfumaria
2   2         Eletrodomésticos
3   3                   Livros
4   4                Celulares