In [5]:

import pandas as pd
import pyodbc 

server = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [6]:
Query = """
select * from [dbo].[Items]
where total_price >5000

"""

In [7]:
Vendas = pd.read_sql(Query,conexaoDB)
Vendas.head(10)

C:\Users\silvio\AppData\Local\Temp\ipykernel_6564\1209837857.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Vendas = pd.read_sql(Query,conexaoDB)

    id  order_id  product_id  quantity  total_price
0   29      5849          14         4       7096.0
1  133      1067          24         4      10652.0
2  160      1497          24         5      13315.0
3  168       614          10         4       7808.0
4  217      2736          23         2       5590.0
5  258      2896          13         5       9130.0
6  259      9456          23         3       8385.0
7  276      4528          20         4       6880.0
8  300       655          20         5       8600.0
9  319      5941          24         3       7989.0

Criar conexão com 2° banco de dados / servidor

In [ ]:
server2 = 'DESKTOP-22ULELT' # Substitua pelo nome do servidor SQL Server
database2= 'Produtos'  # Substitua pelo nome do banco de dados
conexaoDB2 = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server2};'
                      f'DATABASE={database2};'
                      'Trusted_Connection=yes;')

cursor2 = conexaoDB2.cursor()   # criando cursor de comando

In [ ]:
Query2="""

SELECT *
FROM [Produtos].[dbo].[Dim_Produto]

"""

In [ ]:
Produtos= pd.read_sql(Query2,conexaoDB2)

In [ ]:
Vendas.head(5)

In [ ]:
Produtos.head(5)

In [ ]:
Vendas ["product_id"] = Vendas ["product_id"].astype(int)
Produtos ["Id"] = Produtos ["Id"].astype(int)

In [ ]:
join = pd.merge(Vendas,Produtos,left_on="product_id",right_on="Id",how="left")

In [ ]:
join.head(10)

In [ ]:
cursor.close
conexaoDB.close
cursor2.close
conexaoDB2.close